<div class="three columns sidebar">
    <nav>
        <h3 id="logo"><a href="{{ SITEURL }}">{{ SITENAME }}</a></h3>
        <ul>
        {% for p in PAGES %}
            <li><a href="{{ SITEURL }}/{{ p.url|e }}">{{ p.title }}</a></li>
        {% endfor %}
            <li><a href="{{ SITEURL }}/archives.html">Archives</a></li>
            <li><a href="{{ SITEURL }}/tags.html">Tags</a></li>
        </ul>
        <h3>Categories</h3>
        <ul>
            {% for cat, null in categories %}
            <li><a href="{{ SITEURL }}/{{ cat.url|e }}">{{ cat }}</a></li>
            {% endfor %}
        </ul>
    </nav>
    &nbsp;
</div>
